body{
    background-color: #0c0c0c;
}

/*-----------------------------------ヘッダーのCSS----------------------------*/
header{
    height: 5vw;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.topBtn{
    width: 20vw;
    height: 4vw;
    margin: 0;
    margin-top: 0.5vw;
    margin-left: -4vw;
    color: white;
    font-weight: bold;
    font-size: 1.6vw;
    outline: none;
    background-color: #fd3838;
}
.logo{
    width: 5vw;
    margin-left: 15.6vw;
}
header p{
    color: white;
    font-size: 2vw;
    margin: 0;
    font-family: serif;
    margin-left: 4vw;
    margin-top: 2vw;
}

/*-----------------------------------ヘッダーのCSS----------------------------*/

/*-----------------------------------トップページ--------------------------*/
main{
    text-align: center;
    height: 36.1vw;
}
.topImg{
    width: 65vw;
}
/*-----------------------------------トップページ--------------------------*/

/*-----------------------------------メインセクション-----------------------*/
.section-main{
    height: 540vw;
    background-color: #424241;
}
.cta-w{
    margin-left: 16.8vw;
}
.cta{
    float: left;
    margin-top: 2vw;
    width: 48vw;
}
.cta-right{
    width: 14.6vw;
}
.ctaBtn {
    margin-top: 5vw;
    margin-right: 17.8vw;
    float: right;
    width: 17vw;
    height: 12vw;
    cursor: pointer;
    outline: none;
    background-color: #d10606;
}





.intro{
    margin-left: 16.8vw;
}
.mori{
    margin-top: 2vw;
    width: 66vw;
}




.double img{
    margin-top: 0vw;
}
.cool{
    float: left;
    margin-left: 16.8vw;
    width: 48vw;
    height: 25vw;
}
.hiruzu{
    float: right;
    width: 16vw;
    height: 25vw;
    margin-right: 16.8vw;
}



.reason-w{
}
.reason{
    width: 65.3vw;
    margin-left: 16.8vw;
    margin-top: 2vw;
}



.disp-w{
    margin-top: 2vw;
}
.disp img{
    width: 32vw;
}
.disp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}
.left{
    margin-left: 16.8vw;
}
.right{
    margin-right: 10vw;
}




.choice-w{
    margin-top: 1vw;
}
.choice{
    width: 65vw;
    margin-left: 16.8vw;
}
.order1{
    width: 65vw;
    margin-left: 16.8vw;
}
.order2{
    width: 65vw;
    margin-left: 16.8vw;
}

.order3{
    width: 65vw;
    margin-left: 16.8vw;
}
.order4{
    width: 65vw;
    margin-left: 16.8vw;
}





.taigi-w{
    margin-top: 2vw;
}
.taigi{
    width: 65vw;
    margin-left: 16.8vw;
}
.grafu{
    margin-top: 2vw;
    width: 65vw;
    margin-left: 16.8vw;
}
.taigi-gu{
    margin-top: 1vw;
    width: 65vw;
    vertical-align: bottom;
    margin-left: 16.8vw;
}
.mlm{
    width: 65vw;
    margin-left: 16.8vw;
}







/*----------------------------------お問い合わせ------------------*/
#hire{
    border: 1px solid gray;
    width: 65vw;
    background-color: #d3d1d1;
    margin: auto;
    margin-left: 16.8vw;
    margin-top: 3vw;
}
body section h1 {
    margin-bottom: 40px;
    font-size: 3em;
    width: 20vw;
    border-bottom: 3px solid goldenrod;
    text-transform: uppercase;
    font-family: serif;
    font-weight: 100;
    margin: auto;
    color: black;
    margin-left: 1vw;
    margin-bottom: 2vw;
}
form {
    width: 88.3333333333%;
    margin: 0 auto;
}
  form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
  form .field label {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    color: white;
    left: 0;
    background: #0c0c0c;
    width: 100%;
    padding: 18px 0;
    font-size: 1.45em;
    letter-spacing: 0.075em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field label + span {
    font-family: 'SSStandard';
    opacity: 0;
    color: white;
    display: block;
    position: absolute;
    top: 12px;
    left: 7%;
    font-size: 2.5em;
    text-shadow: 1px 2px 0 #cd6302;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field input[type="text"],
  form .field textarea {
    border: none;
    background: #E8E9EA;
    width: 80.5%;
    margin: 0;
    padding: 18px 0;
    padding-left: 19.5%;
    color: #313A3D;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  form .field input[type="text"]#msg,
  form .field textarea#msg {
    height: 18px;
    resize: none;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field input[type="text"]:focus, form .field input[type="text"].focused,
  form .field textarea:focus,
  form .field textarea.focused {
    outline: none;
  }
  form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
  form .field textarea:focus#msg,
  form .field textarea.focused#msg {
    padding-bottom: 150px;
  }
  form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
  form .field textarea:focus + label,
  form .field textarea.focused + label {
    width: 18%;
    background: #fd3838;
    color: #313A3D;
  }
  form .field input[type="text"].focused + label,
  form .field textarea.focused + label {
    color: #fd3e38;
  }
  form .field:hover label {
    width: 18%;
    background: #313A3D;
    color: white;
  }
  form input[type="submit"] {
    background: #fd3838;
    color: white;
    margin-top: 1vw;
    margin-bottom: 1vw;
    -webkit-appearance: none;
    border: none;
    text-transform: uppercase;
    position: relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form input[type="submit"]:hover {
    background: #313A3D;
    color: #FD9638;
  }
  form input[type="submit"]:focus {
    outline: none;
    background: #cd6302;
  }
/*----------------------------------お問い合わせ------------------*/


.rebuy-w{
    margin-top: 4vw;
}
.sell{
    width: 65vw;
    margin-left: 16.8vw;
    margin-bottom: 1vw;
}
.rebuy{
    width: 65vw;
    margin-left: 16.8vw;
}



.final-w{
    position: relative;
    margin-top: 0vw;
}
.final{
    width: 47vw;
    margin-left: 16.8vw;
}
.night{
    width: 17.6vw;
    height: 25.6vw;
}
.finalBtn{
    position: absolute;
    width: 21vw;
    z-index: 9;
    height: 5vw;
    top: 17.3vw;
    right: 49vw;
    font-size: 2vw;
    color: white;
    background-color: red;
    outline: none;
    font-weight: bold;
}





.run-w{
    margin-top: 4vw;
    margin-left: 16.8vw;
}
.run-w h2{
    width: 15vw;
    color: white;
    font-size: 2.5vw;
    font-family: serif;
    border-bottom: 3px solid goldenrod;
}
table{
    background-color: black;
    width: 65vw;
    font-weight: lighter;
    color: rgb(221, 218, 218);
    font-size: 1vw;
}
td{
    padding: 2vw;
}





.copy-w{
    margin-top: 3vw;
    margin-left: 16.8vw;
}
.copy{
    width: 65vw;
}

/*-----------------------------------メインセクション-----------------------*/





@media screen and (max-width:780px){
    .section-main{
        height: 570vw;
    }
    .run-w h2{
        margin-bottom: 2vw;
    }
    body section h1{
        font-size: 2em;
        width: 25vw;
    }

    form .field label{
        font-size: 1em;
    }
    form .field input[type="text"], form .field textarea{
        font-size: 1em;
    }
}
@media screen and (max-width:380px){
    .section-main {
        height: 835vw;
    }
    header{
        height: 10vw;
        margin-top: 1vw;
    }
    .logo {
        width: 10vw;
        margin-left: 0.6vw;
    }
    .topBtn{
        font-size: 10px;
    }
    header p {
        font-size: 11px;
        margin-left: -6vw;
        margin-top: 5vw;
    }
    .topBtn {
        width: 25vw;
        height: 9vw;
        margin-left: 6.4vw;
    }
    .topImg {
        width: 94.4vw;
    }
    main{
        height: 52.5vw;
    }
    .cta-right {
        width: 22.6vw;
    }
    



    .intro {
        margin-left: 2.4vw;
    }
    .mori{
        width: 95vw;
    }

    .cool{
        margin-left: 3vw;
        width: 65vw;
        height: 40vw;
    }
    .hiruzu {
        width: 27vw;
        height: 40vw;
        margin-right: 3vw;
    }

    .cta-w {
        margin-left: 2.8vw;
    }
    .cta {
        margin-top: 4vw;
        width: 65vw;
    }
    .ctaBtn {
        margin-top: 7vw;
        margin-right: 3vw;
        width: 26vw;
        height: 17vw;
    }

    .reason {
        width: 94vw;
        margin-left: 3vw;
        margin-top: 2vw;
    }
    .disp img {
        width: 46.5vw;
    }
    .left{
        margin-left: 3vw;
    }

    .choice {
        width: 94vw;
        margin-left: 3vw;
        margin-top: 2vw;
    }
    .order1 {
        width: 94vw;
        margin-left: 3vw;
    }
    .order2 {
        width: 94vw;
        margin-left: 3vw;
    }
    .order3 {
        width: 94vw;
        margin-left: 3vw;
    }


    .taigi {
        width: 94vw;
        margin-left: 3vw;
    }
    .grafu {
        width: 94vw;
        margin-left: 3vw;
    }
    .taigi-gu {
        width: 94vw;
        margin-left: 3vw;
    }
    

    .run-w {
        margin-left: 3vw;
    }
    .run-w h2 {
        width: 25vw;
        font-size: 15px;
    }


    table {
        width: 94vw;
        font-size: 11px;
    }
    td {
        padding: 1vw;
        font-size: 11px;
    }



    #hire {
        width: 94vw;
        margin-left: 3vw;
    }

    body section h1 {
        font-size: 1.5em;
        width: 40vw;
    }
    form .field label {
        font-size: 0.8em;
    }
    form .field input[type="text"], form .field textarea {
        font-size: 0.7em;
    }
    form input[type="submit"] {
        padding: 10px 22px;
        font-size: 1em;
    }
    form .field input[type="text"]#msg, form .field textarea#msg {
        height: 12px;
    }
    .sell {
        width: 95vw;
        margin-left: 3vw;
        margin-bottom: 1vw;
    }
    .rebuy {
        width: 95vw;
        margin-left: 3vw;
    }
    .final {
        width: 65vw;
        margin-left: 3vw;
    }
    .night {
        width: 28.6vw;
        height: 35.6vw;
    }
    .finalBtn {
        width: 32vw;
        height: 8vw;
        top: 23.3vw;
        font-size: 12px;
    }
    

    .copy-w {
        margin-top: 3vw;
        margin-left: 3vw;
    }
    .copy {
        width: 94vw;
    }
    
    .mlm {
        width: 94vw;
        margin-left: 3vw;
    }
    
    
}